@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-c-brand: #EAB308;
  --vp-c-brand-light: #FCD34D;
  --vp-c-brand-dark: #D97706;
}

.dark {
  --vp-c-bg: #111827;
  --vp-c-bg-alt: #1F2937;
}